@import "./colors";

.editor {
  .CodeMirror {
    // Background color of main window
    background-color: #fbfbfb;
    color: @base02;
  }
  .CodeMirror-scroll {
    // Color of otherwise un-styled text
    color: @base02;
  }
  .CodeMirror-gutters {
    // Gutter to the left
    background-color: #ffffff;
  }
  .CodeMirror-linenumber {
    // Line numbers in the gutter
    color: @base03;
    opacity: 0.6;
  }
  .CodeMirror-selected {
    // Highlighed text
    background-color: @base05;
  }
  .CodeMirror-focused .CodeMirror-selected {
    // Highlighed text
    background-color: @base04;
  }
  .CodeMirror-cursor {
    // The cursor
    border-left: 2px solid @base00;
    background: #ffa87d;
    z-index: 999;
  }
  .CodeMirror-matchingbracket,
  .CodeMirror-matchingtag {
    // When you click a tag/bracket and the matching one is highlighted
    background: @base06 !important;
    border-bottom: 1px solid @base08 !important;
  }
  .CodeMirror-foldgutter-open:after {
    // Those little arrows in the gutter
    color: @base03;
  }
  .CodeMirror-foldgutter-folded:after {
    // The arrows after you collapse code
    color: @base03;
  }
  .CodeMirror.over-gutter,
  .CodeMirror-activeline {
    .CodeMirror-foldgutter-open:after {
      // Arrows when hovering on the gutter
      color: @base03;
    }
  }
  .CodeMirror-foldmarker {
    // The [...] marking collapsed code
    border-color: @base03;
    background-color: @base03;
    color: @base02;
  }
  .CodeMirror .CodeMirror-linewidget img.inline-widget {
    background: rgba(0, 0, 0, 0.05);
  }
  .CodeMirror-searching {
    // Ctrl + F results
    background-color: @base0D;
    // Selected result
    &.searching-current-match {
      background-color: @base0C;
    }
  }

  /* All 'dem swatches */

  .CodeMirror {
    .cm-searching {
      color: black;
      //background-color:orange !important;
      background-color: #ffd432 !important;
    }
    .cm-overlay {
    }
    .cm-animate-fat-cursor {
      color: black;
      background-color: orange;
      animation: none;
    }

    .cm-atom,
    .cm-formatting-list.cm-variable-3 {
      //color: @base0C;
      color: @baseList;
    }

    .cm-keyword {
      //color: @baseList;
      color: inherit;
    }
    .cm-formatting-list-ul {
      color: @baseList;
    }
    .cm-formatting-list-ul.cm-keyword {
      padding-left: 0.2em !important;
      text-indent: -0.2em !important;
    }
    .cm-formatting-list.cm-variable-2 {
      color: @baseList;
    }

    .cm-url,
    .cm-string,
    .cm-string-2,
    .cm-hr {
      color: @base09;
    }

    .cm-url {
      //color: blue;
      // font-family: Arial;
      font-size: 11pt;
      color: #5e81ac;
    }

    .cm-number,
    .cm-attribute,
    .cm-plus {
      color: @base0A;
    }
    .cm-def,
    .cm-property {
      color: @base0C;
    }
    .cm-variable {
      color: @base0A;
    }
    .cm-operator,
    .cm-meta,
    .cm-bracket {
      color: @base0E;
    }
    .cm-comment {
      //color: @base04;
      color: gray;
      font-style: italic;
    }
    .cm-error,
    .cm-minus {
      color: @base0B;
    }
    .cm-formatting-header {
      opacity: 0.3;
    }
    .cm-formatting-header-1,
    .cm-formatting-header-2,
    .cm-formatting-header-3,
    .cm-formatting-list {
      font-family: Menlo;
    }
    .cm-header {
      color: @base0A;
    }
    .cm-formatting-link {
      color: rgba(64, 120, 192, 0.5) !important;
      font-size: 4pt;
    }
    .cm-formatting-image {
      // font-family: Menlo !important;
      //color:rgba(66, 66, 66, 0.3) !important;
    }
    .cm-formatting-link-string {
      color: rgba(64, 120, 192, 1) !important;
      font-size: 6pt;
    }
    .short-link-mark {
      font-size: 8pt;
      color: rgba(64, 120, 192, 1) !important;
    }
    .cm-link {
      //color: @base0E;
      color: #4078c0;
      // font-family: Arial;
      text-underline-position: under;
      text-decoration: none;
      padding: 0px 1px 0px 1px;
      margin-left: -3px;
    }
    .cm-rangeinfo {
      color: @base0C;
    }
    .cm-qualifier,
    .cm-builtin,
    .cm-tag {
      color: @base08;
    }
    .cm-tag {
      color: darkslateblue;
    }
    .quote {
      border-left: 4px solid #ddd;
      padding-left: 1.2em;
      text-indent: -1.2em;
    }
    .cm-quote {
      //color: @base0F;
      //color: #81A1C1

      color: #777;
      //color: #222;
      //background: #F7F9F9;
      //background: white;
      //font-style: italic;
    }
    .cm-formatting-quote {
      //color: #ddd;
      color: #fbfbfb;
      //color: #f0f0f0;
    }
    .cm-whitespace::before {
      color: @base04;
      opacity: 0.4;
    }

    .cm-strong {
      color: #c00000;
    }
    // carriage return
    .CodeMirror-code > div > pre > span::after,
    .CodeMirror-line > span::after {
      color: @base00;
      opacity: 0.4;
    }

    .cm-inline-code {
      //background: rgba(0, 0, 0, 0.02);
      //color: @base03;
      background: #f9f2f4;
      color: #c7254e;
    }

    .gfm-codeblock-bg.CodeMirror-linebackground {
      background: rgba(0, 0, 0, 0.02);
    }

    .gfm-codeblock {
      // font-size: 90%;
      //line-height: 130%;
      font-family: PlemolJP HS Medium;
    }

    .cm-table-sep,
    .table-row.table-row-1 {
      color: @base0E;
    }

    .table-2 {
      font-family: PlemolJP HS Medium;
    }
  }

  /* Active Line Highlight support */
  .CodeMirror-activeline-background {
    background-color: @base06;
  }
  .CodeMirror-activeline .CodeMirror-linenumber {
    background-color: @base06;
  }
  .CodeMirror-focused .CodeMirror-activeline .CodeMirror-gutter-elt {
    background-color: @base06;
  }

  .cm-formatting-strong {
    color: #f0f0f0 !important;
    font-size: 10px;
  }

  //.CodeMirror-cursors {
  //color:orange !important;
  //background-color:orange !important;
  //}

  pre.header.header-1 {
    background-color: rgba(236, 239, 244, 0.4);
    border-bottom: none !important;
  }

  pre.header.header-2.CodeMirror-line {
    border-bottom: 1px dashed #d0dae6;
    max-width: 80%;
  }

  //span.cm-formatting-header-2 {
  //display:none;
  //}
  .CodeMirror .CodeMirror-placeholder {
    display: none;
  }

  //span.cm-formatting-list-ul{
  //font-size:0px;
  //}
  //span.cm-formatting-list-ul:before{
  //font-size:12px;
  //content: '・';
  //}

  //span.cm-formatting-list-ul {
  //font-size:0px;
  //}
  //span.cm-formatting-list-ul:before {
  //font-size: 10px;
  //content: "/";
  //}
  img.inline-widget {
    max-height: 300px;
  }
  .list-line-1 {
    padding-left: 1.6em !important;
    text-indent: -1.05em !important;
  }
  .list-line-2 {
    padding-left: 3em !important;
    //text-indent: -2.05em !important;
    text-indent: -2.4em !important;
  }
  .list-line-3 {
    padding-left: 3.4em !important;
    text-indent: -3.05em !important;
  }

  .cm-formatting-code-block,
  .gfm-codeblock-begin,
  .gfm-codeblock-end {
    //text-align:right;
    //color: #DFDFDF;
    color: @base0A;
    //color: gray;
    /* background-color:#FBFBFB !important; */
  }
}

.status-additional {
  // color: rgba(255, 255, 255, 0.8) !important;
  display: none;
}

.sidebar-menu::-webkit-scrollbar {
  display: none;
}

.sidebar-menu-item.active {
  background: rgba(255, 0, 0, 0.4);
  color: white !important;
}

// 件数表示
.accessory-count {
  display: none;
}

.mde-preview {
  background-color: #fbfbfb;
  * {
    line-height: 180%;
  }

  h1 {
    background-color: rgba(236, 239, 244, 0.4);
    border-bottom: none !important;
    padding-left: 5px;
  }

  h2 {
    color: @base0A;
    border-bottom: 1px dashed #d0dae6 !important;
    max-width: 80%;
    font-weight: 500 !important;
  }
  h3 {
    color: @base0A;
    font-weight: 500 !important;
    font-size: 1.3em !important;
  }

  strong {
    color: #c00000;
  }

  code {
  }
}

.mde-preview div > p + ul {
  margin-top: -15px;
}

.editor-title-input.ui.input input[type="text"] {
  height: 2em;
  font-size: 18pt;
  //color: rgba(0, 0, 0, 0.84);
  color: #5181ac;
  font-weight: bold;
  //background-color: #FBFBFB;
  //font-family: -apple-system,BlinkMacSystemFont;
}

//.editor-header-layout {
//display: none !important;
//}
.editor-meta-layout {
  margin-top: -5px;
}

.editor-meta-layout,
.editor-meta-layout * {
  //background-color: #FBFBFB !important;
}

.editor-header-top-spacer {
  // height: 0px !important;
}

.editor-floating-actions,
.editor-floating-actions.visible {
  display: none;
}

.mde-preview-scroll-past-end {
  height: 200px !important;
}

.dropdown div.selected.item {
  background: rgba(197, 234, 251, 0.5) !important;
}

.mde-preview img {
  max-width: 70% !important;
}

// input text box in modal window.
div.modal-layout div.dropdown input.input {
  // font-family: Menlo;
}

.sidebar-layout {
  width: 150px !important;
  min-width: 150px !important;
}

/* ステータス変更メニューのキー非表示 */
div.menu .item .keymap {
  display: none;
}

.mde-preview table th {
  background-color: rgba(165, 205, 255, 0.3);
  font-weight: normal;
}

.task-active.icon {
  display: none;
}
